@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Londrina+Solid&display=swap");

// $color-primary: #b0bdf8;
// $color-secondary: #313e78;
// $text-primary: #555b78;

$primary-font: "Chelsea Market", cursive;
$secondary-font: "Londrina Solid", cursive;

$color-primary: #d9b00b;
$color-secondary: #313e78;
$text-primary: #cd7a00;
